wandb/
*debug*
debugs/
outputs/
samples/
__pycache__/
ossutil_output/
.ossutil_checkpoint/
data/
results/
samples_data/
cotracker/
eval/
scaler_map/
scaler_map_fox/
scaler_map_old/
scaler_map_tiger/
scaler_map_white_old/
scaler_map_white_tiger/
user_study/
configs/guidance_config.yaml
tmp_ref_feat/
animatediff/data/
assets_copy

app.py
clip_eval.py
clip_score.py
clip_score.sh
collect_user_study.py
convert_json.py
get_ref_feat.py
get_ref_feat.sh
motion_fidelity_score.py
motion_score.sh
preprocess_video_ddim.py
test_camera.sh
test_moft.sh
test_my_camera.py
test_my.py
test.sh
tmp_clip.py
tmp_motion_fidelity.py
train_my_stage2.py
train_my.py
train_stage2.sh
train.py
train.sh
batch_infer.sh
mp42gif.py


scripts

*.ipynb
*.safetensors
*.ckpt
*.pt
*.pth
*.jsonl

models/*
!models/StableDiffusion/
models/StableDiffusion/*
!models/StableDiffusion/*.txt
!models/Motion_Module/
!models/Motion_Module/*.txt
!models/DreamBooth_LoRA/
!models/DreamBooth_LoRA/*.txt
!models/MotionLoRA/
!models/MotionLoRA/*.txt
